Swing states
V případě amerických prezidentských voleb obecně platí, že ve většině států dlouhodobě vyhrávají kandidáti jedné strany. Například v Kalifornii vyhrává kandidát Demokratické strany or roku 1992, v Texasu kandidát Republikánské strany od roku 1980, v Kansasu do konce od roku 1968 atd. Státy, kde se vítězné strany střídají, jsou označovány jako "swing states" ("kolísavé státy"). Tvým úkolem je vybrat státy, které lze označit jako swing states.

V souboru 1976-2020-president.csv najdeš historické výsledky amerických prezidentských voleb. Každý řádek souboru obsahuje počet hlasů pro kandidáta dané strany v daném roce.

V souboru jsou důležité následující sloupce:

Year - rok voleb,
State - stát,
party_simplified - zjednodušené označení politické strany,
candidatevotes - počet hlasů pro vybraného kandidáta,
totalvotes - celkový počet odevzdaných hlasů.

Úkol ber spíše jako návod k řešení, není nutné je přesně dodržovat. Důležité je pouze dospět k požadovaném závěru nebo nějakému obdobnému a možná ještě zajímavějšímu závěru :-)

Urči pořadí jednotlivých kandidátů v jednotlivých státech a v jednotlivých letech (pomocí metody rank()). Nezapomeň, že data je před použitím metody nutné seřadit a spolu s metodou rank() je nutné použít metodu groupby().
Pro další analýzu jsou důležití pouze vítězové. Ponech si v tabulce pouze řádky, které obsahují vítěze voleb v jednotlivých letech v jednotlivých státech.
Pomocí metody shift() přidej nový sloupec, abys v jednotlivých řádcích měl(a) po sobě vítězné strany ve dvou po sobě jdoucích letech.
Porovnej, jestli se ve dvou po sobě jdoucích letech změnila vítězná strana. Můžeš k tomu použít např. funkce numpy.where a vložit hodnotu 0 nebo 1 podle toho, jestli došlo ke změně vítězné strany.
Proveď agregaci podle názvu státu a seřaď státy podle počtu změn vítězných stran.
Dobrovolný doplněk
U amerických voleb je zajímavý i tzv. margin, tedy rozdíl mezi prvním a druhým kandidátem.

Přidej do tabulky sloupec, který obsahuje absolutní rozdíl mezi vítězem a druhým v pořadí. Nezapomeň, že je k tomu potřeba kompletní dataset, tj. je potřeba tabulku znovu načíst, protože v předchozí části jsme odebrali některé řádky.
Můžeš přidat i sloupec s relativním marginem, tj. rozdílem vyděleným počtem hlasů.
Seřaď tabulku podle velikosti margin (absolutním i relativním) a zjisti, kde byl výsledek voleb nejtěsnější.
Jemné částice
V souboru air_polution_ukol.csv najdeš data o množství jemných částic změřených v ovzduší v jedné plzeňské meteorologické stanici.

Načti dataset a převeď sloupec date (datum měření) na typ datetime.
Přidej sloupce s rokem a číslem měsíce, které získáš z data měření.
Vytvoř pivot tabulku s průměrným počtem množství jemných částic (sloupec pm25) v jednotlivých měsících a jednotlivých letech. Jako funkci pro agregaci můžeš použít numpy.mean.
Dobrovolný doplněk
Podívej se do první lekce na část o teplotních mapách a zobrat výsledek analýzy jako teplotní mapu.
Použij metodu dt.dayofweek a přidej si do sloupce den v týdnu. Číslování je od 0, tj. pondělí má číslo 0 a neděle 6. Porovnej, jestli se průměrné množství jemných částic liší ve všední dny a o víkendu.

In [1]:
import requests
import pandas
with requests.get("https://raw.githubusercontent.com/pesikj/progr2-python/master/data/1976-2020-president.csv") as r:
  open("1976-2020-president.csv", 'w', encoding="utf-8").write(r.text)

with requests.get("https://raw.githubusercontent.com/pesikj/progr2-python/master/data/air_polution_ukol.csv") as r:
  open("air_polution_ukol.csv", 'w', encoding="utf-8").write(r.text)
import numpy as np

In [2]:
president_elections = pandas.read_csv("1976-2020-president.csv")
president_elections.head(5)

,year,state,state_po,state_fips,state_cen,state_ic,office,candidate,party_detailed,writein,candidatevotes,totalvotes,version,notes,party_simplified
0,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"CARTER, JIMMY",DEMOCRAT,False,659170,1182850,20210113,NaN,DEMOCRAT
1,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"FORD, GERALD",REPUBLICAN,False,504070,1182850,20210113,NaN,REPUBLICAN
2,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"MADDOX, LESTER",AMERICAN INDEPENDENT PARTY,False,9198,1182850,20210113,NaN,OTHER
3,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"BUBAR, BENJAMIN """"BEN""""",PROHIBITION,False,6669,1182850,20210113,NaN,OTHER
4,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"HALL, GUS",COMMUNIST PARTY USE,False,1954,1182850,20210113,NaN,OTHER

In [3]:
president_elections = president_elections[["year","state","party_simplified",'candidatevotes','totalvotes']]
president_elections

      year    state party_simplified  candidatevotes  totalvotes
0     1976  ALABAMA         DEMOCRAT          659170     1182850
1     1976  ALABAMA       REPUBLICAN          504070     1182850
2     1976  ALABAMA            OTHER            9198     1182850
3     1976  ALABAMA            OTHER            6669     1182850
4     1976  ALABAMA            OTHER            1954     1182850
...    ...      ...              ...             ...         ...
4282  2020  WYOMING      LIBERTARIAN            5768      278503
4283  2020  WYOMING            OTHER            2208      278503
4284  2020  WYOMING            OTHER            1739      278503
4285  2020  WYOMING            OTHER             279      278503
4286  2020  WYOMING            OTHER            1459      278503

[4287 rows x 5 columns]

In [4]:
president_elections = president_elections.sort_values(["candidatevotes"],ascending = False)

In [5]:
president_elections["Desc_rank"] = president_elections.groupby(["year","state"])["candidatevotes"].rank(ascending = False)

In [6]:
president_elections = president_elections.loc[president_elections["Desc_rank"] == 1.0]
president_elections

      year       state party_simplified  candidatevotes  totalvotes  Desc_rank
3773  2020  CALIFORNIA         DEMOCRAT        11110250    17500881        1.0
3425  2016  CALIFORNIA         DEMOCRAT         8753788    14181595        1.0
2751  2008  CALIFORNIA         DEMOCRAT         8274473    13561900        1.0
3098  2012  CALIFORNIA         DEMOCRAT         7854285    13038547        1.0
2432  2004  CALIFORNIA         DEMOCRAT         6745485    12421353        1.0
...    ...         ...              ...             ...         ...        ...
653   1980     VERMONT       REPUBLICAN           94628      213299        1.0
329   1976     WYOMING       REPUBLICAN           92717      156343        1.0
342   1980      ALASKA       REPUBLICAN           86112      158445        1.0
1669  1992     WYOMING       REPUBLICAN           79347      199884        1.0
7     1976      ALASKA       REPUBLICAN           71555      123574        1.0

[612 rows x 6 columns]

In [7]:
president_elections = president_elections.sort_values(["year"])

In [8]:
president_elections["previous_winner"] = president_elections.groupby(["state"])["party_simplified"].shift(periods= 1)

In [9]:
president_elections.loc[president_elections['state'] == "OREGON"]

,year,state,party_simplified,candidatevotes,totalvotes,Desc_rank,previous_winner
241,1976,OREGON,REPUBLICAN,492120,1029876,1.0,NaN
597,1980,OREGON,REPUBLICAN,571044,1181516,1.0,REPUBLICAN
929,1984,OREGON,REPUBLICAN,685700,1226527,1.0,REPUBLICAN
1226,1988,OREGON,DEMOCRAT,616206,1201694,1.0,REPUBLICAN
1575,1992,OREGON,DEMOCRAT,621314,1462643,1.0,DEMOCRAT
1943,1996,OREGON,DEMOCRAT,649641,1377760,1.0,DEMOCRAT
2306,2000,OREGON,DEMOCRAT,720342,1533950,1.0,DEMOCRAT
2641,2004,OREGON,DEMOCRAT,943163,1836782,1.0,DEMOCRAT
2985,2008,OREGON,DEMOCRAT,1037291,1827864,1.0,DEMOCRAT
3312,2012,OREGON,DEMOCRAT,970488,1789270,1.0,DEMOCRAT
3653,2016,OREGON,DEMOCRAT,1002106,2001336,1.0,DEMOCRAT
4165,2020,OREGON,DEMOCRAT,1340383,2374321,1.0,DEMOCRAT

In [10]:
president_elections['change_winner'] = np.where(president_elections['party_simplified'] == president_elections['previous_winner'],0,1 )

In [11]:
president_elections

,year,state,party_simplified,candidatevotes,totalvotes,Desc_rank,previous_winner,change_winner
7,1976,ALASKA,REPUBLICAN,71555,123574,1.0,NaN,1
111,1976,LOUISIANA,DEMOCRAT,661365,1277383,1.0,NaN,1
118,1976,MAINE,REPUBLICAN,236320,482968,1.0,NaN,1
238,1976,OKLAHOMA,REPUBLICAN,545708,1092251,1.0,NaN,1
70,1976,ILLINOIS,REPUBLICAN,2364269,4721282,1.0,NaN,1
...,...,...,...,...,...,...,...,...
4078,2020,NEW HAMPSHIRE,DEMOCRAT,424921,806182,1.0,DEMOCRAT,0
3842,2020,DISTRICT OF COLUMBIA,DEMOCRAT,317323,344356,1.0,DEMOCRAT,0
4158,2020,OKLAHOMA,REPUBLICAN,1020280,1560699,1.0,REPUBLICAN,0
4109,2020,NEW MEXICO,DEMOCRAT,501614,923965,1.0,DEMOCRAT,0
3773,2020,CALIFORNIA,DEMOCRAT,11110250,17500881,1.0,DEMOCRAT,0

In [12]:
president_elections = president_elections.groupby(by = ["state"], as_index = False).sum(['change_winner']).sort_values(['change_winner'])
president_elections

,state,year,candidatevotes,totalvotes,Desc_rank,change_winner
50,WYOMING,23976,1647734,2610513,12.0,1
16,KANSAS,23976,7527606,13396731,12.0,1
27,NEBRASKA,23976,5271114,8846273,12.0,1
34,NORTH DAKOTA,23976,2156381,3726021,12.0,1
12,IDAHO,23976,4038763,6537956,12.0,1
36,OKLAHOMA,23976,9481454,15774954,12.0,1
8,DISTRICT OF COLUMBIA,23976,2446619,2806210,12.0,1
23,MINNESOTA,23976,15129408,30059481,12.0,1
44,UTAH,23976,6255504,10119675,12.0,1
1,ALASKA,23976,1710183,3092854,12.0,1
41,SOUTH DAKOTA,23976,2328503,4162295,12.0,1
43,TEXAS,23976,44246640,81378477,12.0,2
24,MISSISSIPPI,23976,7028641,12640994,12.0,2
37,OREGON,23976,9649798,18843539,12.0,2
45,VERMONT,23976,1899680,3345628,12.0,2
46,VIRGINIA,23976,18242112,34833028,12.0,2
30,NEW JERSEY,23976,22616735,41456077,12.0,2
47,WASHINGTON,23976,16120949,30493054,12.0,2
40,SOUTH CAROLINA,23976,9634811,17528285,12.0,2
0,ALABAMA,23976,11974577,20737875,12.0,2
6,CONNECTICUT,23976,10010408,18423771,12.0,2
13,ILLINOIS,23976,33017534,60561741,12.0,2
4,CALIFORNIA,23976,77767808,138600102,12.0,2
19,MAINE,23976,4027510,7848241,12.0,2
39,RHODE ISLAND,23976,2955057,5230469,12.0,3
32,NEW YORK,23976,46304371,85392378,12.0,3
7,DELAWARE,23976,2202085,4011160,12.0,3
14,INDIANA,23976,15917336,29116355,12.0,3
20,MARYLAND,23976,14645399,25695299,12.0,3
26,MONTANA,23976,2777312,5194180,12.0,3
21,MASSACHUSETTS,23976,19712677,34579391,12.0,3
11,HAWAII,23976,2747534,4725492,12.0,3
42,TENNESSEE,23976,14156984,25452652,12.0,4
3,ARKANSAS,23976,6661232,11634691,12.0,4
2,ARIZONA,23976,10831916,20803635,12.0,4
48,WEST VIRGINIA,23976,4818765,8493002,12.0,4
5,COLORADO,23976,11847967,22915621,12.0,4
25,MISSOURI,23976,15398655,29427109,12.0,4
33,NORTH CAROLINA,23976,19913500,38469713,12.0,4
31,NEW MEXICO,23976,4013070,7725753,12.0,4
29,NEW HAMPSHIRE,23976,3553337,6816646,12.0,4
28,NEVADA,23976,4072342,7994555,12.0,4
17,KENTUCKY,23976,10715920,19060976,12.0,4
18,LOUISIANA,23976,11884018,21575656,12.0,4
22,MICHIGAN,23976,27057191,52298549,12.0,4
38,PENNSYLVANIA,23976,32049603,63492331,12.0,5
15,IOWA,23976,8629759,16976008,12.0,5
49,WISCONSIN,23976,15634329,31429743,12.0,5
10,GEORGIA,23976,18134384,34087864,12.0,5
9,FLORIDA,23976,39436125,76861806,12.0,6
35,OHIO,23976,30418407,59863042,12.0,6

In [13]:
swing_state = president_elections.loc[(president_elections['change_winner'] != 1)]

In [14]:
swing_state[['state','change_winner']]

             state  change_winner
43           TEXAS              2
24     MISSISSIPPI              2
37          OREGON              2
45         VERMONT              2
46        VIRGINIA              2
30      NEW JERSEY              2
47      WASHINGTON              2
40  SOUTH CAROLINA              2
0          ALABAMA              2
6      CONNECTICUT              2
13        ILLINOIS              2
4       CALIFORNIA              2
19           MAINE              2
39    RHODE ISLAND              3
32        NEW YORK              3
7         DELAWARE              3
14         INDIANA              3
20        MARYLAND              3
26         MONTANA              3
21   MASSACHUSETTS              3
11          HAWAII              3
42       TENNESSEE              4
3         ARKANSAS              4
2          ARIZONA              4
48   WEST VIRGINIA              4
5         COLORADO              4
25        MISSOURI              4
33  NORTH CAROLINA              4
31      NEW MEXICO              4
29   NEW HAMPSHIRE              4
28          NEVADA              4
17        KENTUCKY              4
18       LOUISIANA              4
22        MICHIGAN              4
38    PENNSYLVANIA              5
15            IOWA              5
49       WISCONSIN              5
10         GEORGIA              5
9          FLORIDA              6
35            OHIO              6