V souboru air_polution_ukol.csv najdeš data o množství jemných částic změřených v ovzduší v jedné plzeňské meteorologické stanici a který jsme již používali v úkolu z druhého týdne.

Pokud máš úkol hotový, můžeš si z něj zkopírovat následující krok:

Načti dataset a převeď sloupec date (datum měření) na typ datetime.


Dále pokračuj následujícími kroky:

Z dat vyber data za leden roku 2019 a 2020.

Porovnej průměrné množství jemných částic ve vzduchu v těchto dvou měsících pomocí Mann–Whitney U testu. 

Formuluj hypotézy pro oboustranný test (nulovou i alternativní) a napiš je do komentářů v programu.

Měl(a) bys dospět k výsledku, že p-hodnota testu je 1.1 %. Rozhodni, zda bys na hladině významnosti 5 % zamítla nulovou hypotézu. Své rozhodnutí napiš do programu

In [1]:
import requests
import pandas as pd
import datetime as dt
from scipy.stats import mannwhitneyu


with requests.get("https://raw.githubusercontent.com/pesikj/progr2-python/master/data/air_polution_ukol.csv") as r:
  open("air_polution_ukol.csv", 'w', encoding="utf-8").write(r.text)

In [2]:
air_polution_ukol = pd.read_csv("air_polution_ukol.csv")

In [3]:
air_polution_ukol['date'] = pd.to_datetime(air_polution_ukol['date'])

In [4]:
air_polution_ukol['month'] = air_polution_ukol['date'].dt.month

In [5]:
air_polution_ukol['year'] = air_polution_ukol['date'].dt.year

In [6]:
air_polution = air_polution_ukol[(air_polution_ukol['month'] == 1) & ((air_polution_ukol['year'] == 2020) | (air_polution_ukol['year'] == 2019))]

In [7]:
air_polution

          date   pm25  month  year
445 2020-01-01  131.0      1  2020
446 2020-01-02  142.0      1  2020
447 2020-01-03   68.0      1  2020
448 2020-01-04   21.0      1  2020
449 2020-01-05   31.0      1  2020
..         ...    ...    ...   ...
800 2019-01-27   32.0      1  2019
801 2019-01-28   17.0      1  2019
802 2019-01-29   26.0      1  2019
803 2019-01-30   67.0      1  2019
804 2019-01-31   66.0      1  2019

[62 rows x 4 columns]

In [8]:
year_2020 = air_polution[(air_polution['month'] == 1) & (air_polution['year'] == 2020)]['pm25']

In [9]:
year_2019 = air_polution[(air_polution['month'] == 1) & (air_polution['year'] == 2019)]['pm25']

In [12]:
mannwhitneyu(year_2019,year_2020,alternative = "less" )

MannwhitneyuResult(statistic=301.0, pvalue=0.005860847705179159)

In [ ]:
Nulovu hypotezu by som zamietla, priemery sa nebudu rovnat, priemer v roku 2019 je pravdepodobne mensi