Jemné částice
V souboru air_polution_ukol.csv najdeš data o množství jemných částic změřených v ovzduší v jedné plzeňské meteorologické stanici.

Načti dataset a převeď sloupec date (datum měření) na typ datetime.
Přidej sloupce s rokem a číslem měsíce, které získáš z data měření.
Vytvoř pivot tabulku s průměrným počtem množství jemných částic (sloupec pm25) v jednotlivých měsících a jednotlivých letech. Jako funkci pro agregaci můžeš použít numpy.mean.

In [1]:
import pandas
import requests
import datetime
import numpy

In [2]:
with requests.get("https://raw.githubusercontent.com/pesikj/progr2-python/master/data/air_polution_ukol.csv") as r:
  open("air_polution_ukol.csv", 'w', encoding="utf-8").write(r.text)

In [3]:
air_polution = pandas.read_csv("air_polution_ukol.csv")

In [4]:
air_polution["date_convert"] = pandas.to_datetime(air_polution["date"])

In [5]:
air_polution["Year"] = pandas.DatetimeIndex(air_polution['date_convert']).year

In [6]:
air_polution["Month"] = pandas.DatetimeIndex(air_polution['date_convert']).month

In [7]:
air_polution = pandas.pivot_table(air_polution,values = 'pm25', index='Year',columns='Month',aggfunc = numpy.mean)

In [8]:
air_polution

Month,1,2,3,4,5,6,7,8,9,10,11,12
Year,,,,,,,,,,,,
2014,98.548387,75.750000,93.366667,59.896552,32.709677,27.740741,33.000000,22.774194,38.866667,71.064516,75.600000,53.178571
2015,54.290323,87.000000,82.863636,55.750000,46.400000,45.566667,38.838710,47.483871,35.266667,71.354839,54.533333,58.900000
2016,80.454545,56.275862,77.806452,58.733333,51.322581,40.400000,49.935484,41.903226,64.133333,53.483871,62.666667,64.548387
2017,94.387097,95.178571,50.774194,54.444444,NaN,36.111111,33.000000,35.806452,48.115385,44.740741,58.800000,49.400000
2018,55.967742,80.607143,78.419355,49.833333,51.419355,45.133333,40.612903,35.580645,43.900000,65.200000,79.766667,44.133333
2019,48.000000,74.285714,38.322581,58.076923,37.419355,40.222222,42.666667,36.806452,28.413793,46.935484,54.766667,50.551724
2020,70.709677,26.517241,51.034483,43.095238,31.677419,30.966667,26.612903,37.548387,35.766667,37.800000,60.366667,80.000000
2021,NaN,80.750000,57.760000,45.033333,22.935484,43.700000,32.290323,26.096774,43.962963,NaN,NaN,NaN